<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/cssfiles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<body>
    <div class="topnav">
        <div class="logo">
            <img src="logo1.svg" alt="logo">
            <p class="logo_name">ResumeForge</p>
        </div>
        <a class="active" href="#home">Home</a>
        <a class="active" href="#contact">Contact</a>
        {{!-- <a class="active" href="#login">login</a> --}}
        {{!-- <button id="login">Login</button> --}}
        <button id="signup">SignUp</button>
        <button id="login">Login</button>
        {{!-- <a class="active" href="#signup">sign up</a> --}}
        <a class="active" href="#about">About</a>
    </div>
    <div class="container">
       <a href="templates.html"> <button type="button">create Resume</button></a>
      </script>
    </div>
    
    <script src="./index.js"></script>
</body>
</html>